#### while loop with else
* we can also use while with optional else block
* the else part is executed if the condition in the while loop evalutes to false
* If the while loop is terminated with a break statement ,in such a case else part is ignored

In [1]:
count=0
while count<3:
    print("inside while")
    count+=1
else:
    print("inside else")

inside while
inside while
inside while
inside else

In [4]:
count=0
while count<3:
    print(count)
    count+=1
    if count==1:
        break
else:
    print("inside else")

0

In [ ]:
#### Nested while
* while expression:
     * while expression:
          stat
     stat

In [7]:
#1 5
#2 6
#3 7
a=1
b=5
while b<8:
    while a<4:
        print(a,",",b)
        a+=1
        b+=1

1 , 5
2 , 6
3 , 7

#### for loop
* used to iterate over sequence like string,list,tuple,range etc

In [13]:
for i in range(1,4):
    print(i,",",(i+4))

1 , 5
2 , 6
3 , 7

In [15]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [17]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [20]:
for i in range(2,100,+2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [21]:
name="rame"
for ch in name:
    print(ch)

r
a
m
e

#### for with else
* else part is executed after the for loop is finished
* if there is break in loop,else block is not executed

In [23]:
# 0 to 5
for i in range(6):
    print(i)
else:
    print("else block")

0
1
2
3
4
5
else block

In [24]:
# 0 t0 3
for i in range(6):
    if i==3:
        break
    print(i)
else:
    print("else block")

0
1
2

#### loop control statements
* break
* continue
* pass

#### break
* terminates the loop containinig it
* control the program flow to statement immediately after the body of loop
* if the break stmt is inside a nested loop,then it terminates the innermost loop

In [29]:
str="python"
#pyth
for ch in str:
    if ch=='o':
        break
    print(ch)

p
y
t
h

In [1]:
i=0
while 1:
    print(i,end=" ")
    i+=1
    if i==10:
        break

0 1 2 3 4 5 6 7 8 9

#### continue statement
* it is used to skip the rest of the code inside a loop for current iteration only
* loop does not terminate but continue on with the iteration

In [3]:
# 1 2 3 4 6 7 (skip 5)
i=0
while i<7:
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7

In [4]:
str="kamal"
for i in str:
    if i=='m':
        continue
    print(i)

k
a
a
l

#### pass statements
* it is a null statement

In [8]:
name="john"
for i in name:
    pass

In [9]:
for num in [10,41,23,65,22]:
    if num%2==0:
        pass
    else:
        print(num)

41
23
65