### String
* It is a collection of characters.
* It is a character array.
* String index starts from 0 to size-1
* string is immutuable(we can't change).
* By using double quotes,single quotes and triple quotes we can denote the string

In [1]:
#string initialization
s1='python programming'
print(s1)
print(type(s1))

python programming
<class 'str'>

In [5]:
s2="data analysis"
print(s2)
print(type(s2))

data analysis
<class 'str'>

In [3]:
s3='''python programming
java
data analysis
srm'''
print(s3)

python programming
java
data analysis
srm

In [17]:
# string join
s1="srm ap"
s2="students"
print(s1+s2)
print(s1,s2)

srm apstudents
srm ap students

In [10]:
# string repetition
s="python"
print(s*4)

pythonpythonpythonpython

In [18]:
s="python"
for i in s:
    print(i,end=" ")

p y t h o n

In [19]:
# to print asccii value of a given character?
print(ord('A'))

65

In [21]:
# to print character of given asccii value?
print(chr(65))

A

#### indexing and slicing
* indexing
   * to get single character.
   * forward- 0 to size-1
   * backward indexing- start from -1
* slicing 
    * to get the group of characters
    * [start:stop:step]

In [27]:
s1='data analysis internship'
print(s1[3])
print(s1[0])
print(s1[-3])
print(s1[8:])
print(s1[::])
print(s1[::-1])
print(s1[::2]) #to get alternate char

a
d
h
lysis internship
data analysis internship
pihsnretni sisylana atad
dt nlssitrsi

In [37]:
# to read a string and swap first and last char
s1=input("enter a string:")
print(len(s1))
print(s1[-1]+s1[1:len(s1)-1]+s1[0])

enter a string:python
6
nythop

In [4]:
s=input("enter any string:")
print(s[-1]+s[1:len(s)-1]+s[0])

enter any string:palrt
talrp

In [5]:
# to read a string and print asccii value of a each character
s=input("enter any string:")
for i in s:
    print(i,'-->',ord(i))

enter any string:kamal
k --> 107
a --> 97
m --> 109
a --> 97
l --> 108

In [39]:
#### string methods
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [43]:
# to convert first char to uppercase of a str
s1="jalj"
print(s1.capitalize())

Jalj

In [8]:
# to convert str into lower
s1="TAlm"
print(s1.lower())
print(s1.casefold())
print(s1.upper())

talm
talm
TALM

In [12]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

In [47]:
# to convert str to lower or upper viceversa
s='python PrograMMing'
print(s.swapcase())

PYTHON pROGRAmmING

In [48]:
# to convert first char of each word to uppercase
s="python apssdc"
print(s.title())

Python Apssdc

In [13]:
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [26]:
s="python"
print(s.center(fillchar='p'))

TypeError: str.center() takes no keyword arguments

In [49]:
# to remove white spaces
s="   python   program  "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

python   program
python   program
   python   program

In [52]:
# translate()
d={80:65}
s=' hello sram'
print(s.translate(d))

 hello sram

In [53]:
# split
s="data analysis using python"
print(s.split())

['data', 'analysis', 'using', 'python']

In [54]:
# to count the number of words 
s="data analysis using python"
print(len(s.split()))

4

In [55]:
# to convert each word into uppercase
for i in s.split():
    print(i.upper())

DATA
ANALYSIS
USING
PYTHON

In [56]:
# to count char frequency
s='apssdc'
print(s.count('s'))

2

In [57]:
# to print index position
print(s.index('d'))

4

In [59]:
n=list(map(str,input().split()))
print(n)

10 20 30 fgfh 10.2
['10', '20', '30', 'fgfh', '10.2']

In [60]:
s=input("enter")
print(s.split())
print(s)

enter10 20 30 hgul 0.3
['10', '20', '30', 'hgul', '0.3']
10 20 30 hgul 0.3

In [72]:
s1="apssdc"
ch=input("enter:")
for i in range(0,len(s1)):
    if s1[i]==ch:
        print(i)

enter:s
2
3

In [3]:
s1="raju madhulatha rajesh nethra mani nani aadyan"
# names start with char 'm'
for i in s1.split():
    if(i.startswith('m')):
        print(i)

madhulatha
mani

In [4]:
# names end with char a
for i in s1.split():
    if(i.endswith('a')):
        print(i)

madhulatha
nethra

In [31]:
# to print each char frequency
s="python program"
for i in range(0,len(s[i])):
    if(s[i]!=i):
        print(i,'-->',s.count(s[i]))

0 --> 2

In [18]:
s="apssdc"
print(s.replace('s','y'))

apyydc

In [25]:
# translate
s1="python"
res=str.maketrans('h','p')
print(s1.translate(res))

pytpon

In [28]:
# using asccii value transulate data
s1="hello"
print(ord('e'))
print(chr(105))
dict1={101:105}
print(s1.translate(dict1))

101
i
hillo