#### comprehension:
* by using comprehension in python to create a new sequences such as list,dictionary,set.
* we can reduce the lines of code.
##### Three types of comprehension:
* 1.list comprehension
* 2.Dictionary comprehension
* 3.set comprehension

* list comprehension:-to create the new list from another iterables.
  - syntax variable_name=[out_putvariablename forloop if(condition)]

In [1]:
# to print the 1 to 10 natural numbers with out using lc?
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [2]:
# to print 1 to 10 natural numbers using lc?
n=[i for i in range(1,11)]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# to store the 1 to 50 even values into a list with out using lc?
l1=[]
for i in range(1,51):
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [4]:
print([i for i in range(2,51,2)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [1]:
l1=['apssdc','python','clanguage','java']
# output:['Apssdc','Python','Clanguage','Java']
# using list comprehension
l2=[i.capitalize() for i in l1]
print(l2)

['Apssdc', 'Python', 'Clanguage', 'Java']

In [2]:
# to print unique elements list using lc?
l1=[10,20,30,0,10,40,20]
l2=[]
l3=[l2.append(i) for i in l1 if i not in l2]
print(l2)

[10, 20, 30, 0, 40]

In [3]:
# to print 1 to 100 prime numbers using lc?
def isprime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count+=1
    if count==2:
        return n
l1=[i for i in range(1,101) if(isprime(i))]
print(l1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [4]:
value=int(input())
prime=[x for x in range(2,value+1) if all(x%y!=0 for y in range(2,x))]
print(prime)

100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### Dictionary comprehension
* to create the new dictionary with another iterables.
* syntax: variable_name={print(keyname:value)forloop if condition}

In [5]:
# to print the each element square in between 1 to 10
d1={}
for i in range(1,11):
    d1[i]=i*i
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
d2={i:i*i for i in range(1,11)}
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
s1='data analysis using python programming'
# to print char frequency by using dict comprehension 
# output:d1={'d':1,'a':5....}
d={i:s1.count(i) for i in s1}
print(d)

{'d': 1, 'a': 5, 't': 2, ' ': 4, 'n': 4, 'l': 1, 'y': 2, 's': 3, 'i': 3, 'u': 1, 'g': 3, 'p': 2, 'h': 1, 'o': 2, 'r': 2, 'm': 2}

In [12]:
#to get the unique char
s1='data analysis using python programming'
s2=''
for i in s1:
    if i not in s2:
        s2=s2+i
print(s2)
d2={i:s2.count(i) for i in s2}
print(d2)

dat nlysiugphorm
{'d': 1, 'a': 1, 't': 1, ' ': 1, 'n': 1, 'l': 1, 'y': 1, 's': 1, 'i': 1, 'u': 1, 'g': 1, 'p': 1, 'h': 1, 'o': 1, 'r': 1, 'm': 1}

#### Set comprehension
* to create the new set from another iterables
* syntax : variable_name={output forloop if(condition)}

In [13]:
s1="python programming"
s2=''
for i in s1:
    if i not in s2:
        s2=s2+i
print(s2)

python rgami

In [15]:
# using set comprehension
set1={i for i in s1}
set1

{' ', 'a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y'}

In [6]:
# unigue elements
l1=[10,50,80,65,45,50,80]
set1={i for i in l1}
set1

{10, 45, 50, 65, 80}

In [8]:
k=[]
for l in range(int(input())):
    name = input()
    score = float(input())
    l=[name,score]
    k.append(l)
s=[i[1] for i in k]
na=[i[0] for i in k]
sc=s
sc=list(set(sc))
sc=sorted(sc)
smin=sc[1]
list(set())
m=[i for i in range(len(s)) if smin==s[i] ]
n=[]
for i in m:
    n.append(na[i])
print(*sorted(n),sep="\n")

3
kamal
20.
bala
30
ram
40
bala

In [3]:
k=[]
for l in range(int(input())):
        name = input()
        score = float(input())
        l=[name,score]
        k.append(l)
    s=[i[1] for i in k]
    na=[i[0] for i in k]
    sc=s
    sc=list(set(sc))
    sc=sorted(sc)
    smin=sc[1]
    list(set())
    m=[i for i in range(len(s)) if smin==s[i] ]
    n=[]
    for i in m:
        n.append(na[i])
    print(*sorted(n),sep="\n")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)