In [1]:
import pandas as pd

In [3]:
s1=pd.Series([10,'kal',2.3,20,15])
print(s1)

0     10
1    kal
2    2.3
3     20
4     15
dtype: object

In [5]:
s1[2]=20
s1

0     10
1    kal
2     20
3     20
4     15
dtype: object

* replace()
 - using replace method we can update the series value
* syntax:
  - sd.replace(to_replace=old_value,value=new_value)

In [6]:
s1=s1.replace(to_replace='kal',value='prem')
s1

0      10
1    prem
2      20
3      20
4      15
dtype: object

In [10]:
s1=s1.replace(10,100)
s1

0     100
1    prem
2      20
3      20
4      15
dtype: object

In [11]:
s1=s1.replace(20,'python')
s1

0       100
1      prem
2    python
3    python
4        15
dtype: object

In [13]:
# to update the multiple value
s1=s1.replace(to_replace=[100,'python',15],value=[10,'java',50])
s1

0      10
1    prem
2    java
3    java
4      50
dtype: object

In [19]:
# to delete the series data
s1.drop(labels=1,inplace=True)
s1

3    java
dtype: object

In [18]:
s1.drop(labels=[0,4],inplace=True)
s1

1    prem
3    java
dtype: object

* task1:
  - create series having index values starts from 10 to 20 and values are squares of index values

In [49]:
index_values=range(10,21)
values=[i**2 for i in index_values]
S=pd.Series(values,index_values)
print(S)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [50]:
S[[12,13,17]]
print(S)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [53]:
s1=s1.append(pd.Series([10,20]))
s1

C:\Users\srinadh\AppData\Local\Temp\ipykernel_7744\3587877660.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1=s1.append(pd.Series([10,20]))

3    java
2      10
3      20
0      10
1      20
dtype: object

In [54]:
s2=pd.Series(['kal','penj'])
s1=s1.append(s2)
print(s1)

3    java
2      10
3      20
0      10
1      20
0     kal
1    penj
dtype: object

C:\Users\srinadh\AppData\Local\Temp\ipykernel_7744\3745081976.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1=s1.append(s2)